.Profile {
  background: var(--appDark);
}

.Profile__container {
  display: flex;
  flex-wrap: wrap;
}

.Profile__title {
  margin: 0;
  padding-bottom: 20px;
  color: var(--white);
}

.Profile__left {
  width: 25%;
}

.Profile__right {
  width: 75%;
  display: flex;
  background-color: var(--lightGray);
}

.Profile__info {
  width: 200px;
}

.Profile__avatar {
  width: 100%;
}

.Profile__menu {
  margin: 0;
  flex-direction: column;
}

.Profile__menu li {
  border-bottom: 2px solid var(--red);
}

.Profile__main-content {
  width: 100%;
}

.Profile__name {
  margin: 0;
  font-size: 20px;
  word-break: break-all;
}

.Profile__description {
  padding: 0;
  margin: 0;
  list-style: none;
}

.Profile__description-item {
  font-size: 16px;
}

.Profile__description-data {
  font-size: 14px;
  color: var(--red);
}