.App {
  min-height: 100vh;
  text-align: center;
}

.App-container {
  margin: 0 auto;
}

.App-main {
  width: 160px;
  display: flex;
  align-items: center;
}

.App-logo {
  height: 10vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: Scale-up-center 2s steps(10, start) infinite both;
  }
}

.App-header {
  background-color: var(--color-appDark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-white);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Scale-up-center {
  0% {
    transform: scale(0.5);
  }
  25% {
    transform: scale(0.6)
  }
  40% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.4);
  }
}


