.Nav, .Nav__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Nav__menu {
  padding: 0;
  list-style: none;
}

.Nav__main {
  justify-content: space-between;
}

.Nav__link {
  padding: 20px;
  text-decoration: none;
  color: var(--white);
}

.Nav__link:hover {
  color: var(--textHover);
}
