.Nav, .Nav__menu {
  display: flex;
  flex-wrap: wrap;
}

.Nav__menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.Nav__submenu {
  margin-left: 40px;
}

.Nav__link {
  text-decoration: none;
  color: var(--white);
}

.Nav__link:hover {
  color: var(--textHover);
}
